# Python / FastAPI
backend/venv/
backend/app/__pycache__/
backend/*.pyc
backend/.env

# Python cache
**/__pycache__/
*.pyc

# React / Vite
frontend/node_modules/
frontend/.env
frontend/dist/

# OS / IDE
.DS_Store
.vscode/
.idea/

.cursor