# Python / FastAPI
backend/venv/
backend/app/__pycache__/
backend/*.pyc
backend/.env
backend/data/
backend/**/*.pkl

# Python cache
**/__pycache__/
*.pyc

# React / Vite
frontend/node_modules/
frontend/.env
frontend/dist/

#mobile-app
mobile-app/node_modules/
mobile-app/.env
mobile-app/dist/


# OS / IDE
.DS_Store
.vscode/
.idea/

.cursor