@import "tailwindcss";
@import '@fontsource/titillium-web/400.css';
@import '@fontsource/titillium-web/600.css';
@import '@fontsource/titillium-web/700.css';

body {
    min-height: 100vh;
}

@theme {
    --font-sans:
        'Titillium Web', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-xs: calc(var(--radius) - 6px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-outline: var(--outline);
    --color-accent-green: var(--accent-green);
    --color-accent-yellow: var(--accent-yellow);
    --color-accent-orange: var(--accent-orange);
    --color-accent-red: var(--accent-red);
    --color-accent-blue: var(--accent-blue);
    --color-accent-violet: var(--accent-violet);
}

:root {
    --radius: 0.65rem;
    --background: oklch(0.992 0.012 98.29);  
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.577 0.245 27.325);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.704 0.191 22.216);
    --chart-1: oklch(0.808 0.114 19.571);
    --chart-2: oklch(0.637 0.237 25.331);
    --chart-3: oklch(0.577 0.245 27.325);
    --chart-4: oklch(0.505 0.213 27.518);
    --chart-5: oklch(0.444 0.177 26.899);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.577 0.245 27.325);
    --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.704 0.191 22.216);

    /* Custom colors */
    --outline: oklch(0 0 0);                   /* #000000 */
    --accent-green: oklch(0.432 0.124 140.53); /* #347433 */
    --accent-yellow: oklch(0.796 0.157 84.43); /* #FFC107 */
    --accent-orange: oklch(0.673 0.194 38.62); /* #FF6F3C */
    --accent-red: oklch(0.396 0.156 22.47);    /* #B22222 */
    --accent-blue: oklch(0.368 0.109 254.03);  /* #134E8E */
    --accent-violet: oklch(0.348 0.163 320.98);/* #640D5F */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}